**/target/
**/build/
**/dist/

**/*.class
**/*.jar
**/*.war
**/*.ear

**/node_modules/

**/.idea/
**/*.iml

**/.classpath
**/.project
**/.settings/

**/.vscode/

**/.DS_Store
**/Thumbs.db

**/*.log
**/logs/

k8s/**/secret.yaml
k8s/**/secrets.yaml
